.center {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column-reverse;
  align-items: center;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  width: 85%;
}

ol li {
  padding: 5px 10px;
}

ol li button {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: 0.5s;
  background-color: transparent !important;
  border: none;
  cursor: pointer;
}

ol li:hover button {
  color: #7060fe;
}

.weather_app_style {
  text-align: center;
  margin-top: 20px;
}

.weather_app_style h2 {
  padding: 20px 0;
  text-transform: capitalize;
}

.weather {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}

.weather .card {
  border: 1px solid #7060fe;
  padding: 40px 25px;
}
